{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/memory_test.css') }}">

<div class="container text-center mt-5">
    <h2>Round {{ round_num }}</h2>
    <h2>Memorize these shapes:</h2>
    <div id="shapes-frame">
        {% for shape in shapes %}
            <div class="shape {{ shape }}" 
                style="background-color: {{ shape_colours[loop.index0] }};
                top: {{ shape_positions[loop.index0].top }}px;
                left: {{ shape_positions[loop.index0].left }}px;">
            </div>
        {% endfor %}
    </div>
</div>

<script>
    // Handle leaving via back button
    // Replace current history entry with a custom state object, {page:1}
    // so the page exists in the stack
    history.replaceState({page:1}, null, location.href);
    // Push a dummy state {page:2} on top so the back button triggers popstate
    history.pushState({page:2}, null, location.href);

    window.addEventListener('popstate', function (event) {
        const goBack = confirm("Warning: your progress will be lost if you go back. Do you wish to continue?");
        if (goBack) {
            // Redirect to main assessments page
            window.location.href = "{{ url_for('main.assessments') }}";
        } else {
            // User cancelled: push dummy state again to block back navigation
            history.pushState({page:2}, null, location.href);
        }
    })

    // redirect to comparison phase after customized seconds
    setTimeout(function() {
        window.location.href = "{{ url_for('memory_test.memory_test_view') }}";
    }, {{ memorization_time * 1000 }}); 
</script>
{% endblock %}
