{% extends "base.html" %}

{% block content %}
<style>
    .assessments-container {
        max-height: 160px;
        overflow-y: auto;
    }
</style>

<div class="container mt-5 text-center">
    <div class="row align-items-stretch">
        <!-- Profile Card -->
        <div class="col-md-4">
            <div class="card shadow-sm mb-4">
                <div class="card-body text-center">
                    <h4 class="card-title mb-3">{{name}}</h4>
                    <p class="mb-1"><strong>Age: </strong>{{ age }}</p>
                    <p class="mb-1"><strong>Gender: </strong>{{ gender }}</p>
                    <p class="mb-1"><strong>Height: </strong>{{ height }} cm</p>
                    <p class="mb-1"><strong>Weight: </strong>{{ weight }} kg</p>
                    <p class="mb-1"><strong>Diagnosis: </strong>TBD</p>
                </div>
            </div>
        </div>
    
         <!-- Past Assessments Details -->
        <div class="col-md-8 d-flex flex-column">
            <h4 class="mb-3">Past Assessments</h4>
            <div class="assessments-container border rounded">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Test Type</th>
                            <th>Score</th>
                            <th>Avg Reaction Time (ms)</th>
                            <th>Difficulty</th>
                            <th>Performed with Physician</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if results %}
                            {% for r in results | reverse %}
                                <tr>
                                    <td>{{ r.date_taken.strftime("%Y-%m-%d %H:%M") }}</td>
                                    <td>Short-Term Memory Test</td>
                                    <td>{{ r.score }}/{{ r.total_rounds }}</td>
                                    <td>{{ "%.2f"|format(r.avg_reaction_time) }}</td>
                                    <td>{{ r.difficulty }}</td>
                                    <td>{{ r.performed_with_physician }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4">No past assessments found.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

     <!-- Charts -->
    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-body text-center mb-4">
                <h3 class="card-title mb-3">Assessment Charts</h3>
                <div class="d-inline-flex align-items-center gap-2 mb-4">
                    <label for="difficultyFilter" class="form-label mb-0 small">
                        Filter by Difficulty
                    </label>
                    <select id="difficultyFilter" class="form-select form-select-sm w-auto">
                        <option value="Both">Both</option>
                        <option value="Easy">Easy only</option>
                        <option value="Hard">Hard only</option>
                    </select>
                </div>
                <div class="row">
                    <!-- Memory Score Chart-->
                    <div class="col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="mb-2">Memory Scores Over Time</h5>
                                <canvas id="scoreChart" style="max-height:400px;"></canvas>
                            </div>
                        </div>
                    </div>

                    <!-- Reaction Time Chart-->
                    <div class="col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="mb-2">Reaction Times Over Time</h5>
                                <canvas id="reactionChart" style="max-height:400px;"></canvas>
                            </div>
                        </div>
                    </div>

                    <!-- Correct Reaction Time Chart-->
                    <div class="col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="mb-2">Correct Response Reaction Times</h5>
                                <canvas id="correctReactionChart" style="max-height:400px;"></canvas>
                            </div>
                        </div>
                    </div>

                    <!-- Incorrect Reaction Time Chart-->
                    <div class="col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="mb-2">Incorrect Response Reaction Times</h5>
                                <canvas id="incorrectReactionChart" style="max-height:400px;"></canvas>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Need to convert Flask lists to JS arrays
    const chartData = {{ chart_data|tojson }}

    // Prep min, median, and max points for error bars
    function buildErrorBars(avg, std) {
        return {
            min: avg.map((p, i) => ({ x: p.x, y: +(p.y - std[i].y).toFixed(2)})),
            median: avg.map((p, i) => ({ x: p.x, y: +(p.y).toFixed(2)})),
            max: avg.map((p, i) => ({ x: p.x, y: +(p.y + std[i].y).toFixed(2)}))
        }
    }

    // Build vertical stem for error bars by combining the matching min, median,
    // and max values at each x into one object
    function buildStem(errorBars){
        // Iterate over min points array (using min as a base so median and max
        // are relative to it)
        return errorBars.min.map((p, i) => ({
            x:p.x,
            yMin: p.y,
            yMedian: errorBars.median[i].y,
            yMax: errorBars.max[i].y
        
        }))
    }

    // Add a custom plugin to draw vertical stem on top of chart
    function createVerticalStemPlugin(stemArray) {
        return {
            id: 'verticalStem',
            afterDatasetsDraw(chart, args, pluginOptions) {
                const { ctx, scales: { x, y } } = chart;
                ctx.save();
                ctx.strokeStyle = 'black';
                ctx.lineWidth = 3;
                stemArray.forEach(d => {

                    // fail safe: only draw if x value exists in the current chart labels
                    if (!x.getLabels().includes(d.x)) return;

                    const xPos = x.getPixelForValue(d.x);
                    ctx.beginPath();
                    ctx.moveTo(xPos, y.getPixelForValue(d.yMin));
                    ctx.lineTo(xPos, y.getPixelForValue(d.yMax));
                    ctx.stroke();
                });
                ctx.restore();
            }
        };
    }
    // Build initial errorBars and stems
    let reactionErrorBars = buildErrorBars(chartData.reactions.average, chartData.reactions.std);
    let correctErrorBars = buildErrorBars(chartData.reactions.correct_avg, chartData.reactions.correct_std);
    let incorrectErrorBars = buildErrorBars(chartData.reactions.incorrect_avg, chartData.reactions.incorrect_std);

    let reactionStem = buildStem(reactionErrorBars);
    let correctStem = buildStem(correctErrorBars);
    let incorrectStem = buildStem(incorrectErrorBars);

    // Memory chart
    const scoreChart = new Chart(document.getElementById('scoreChart'), {
        type: 'line',
        data: {
            datasets: [{
                label: 'Memory Score(s)',
                data: chartData.scores,
                borderColor: 'rgb(54, 162, 235)',
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                tension: 0.3
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: { display: false }
            },
            scales: { x: {
                    type: 'category',
                    title: {
                        display: true,
                        text: 'Assessment Date',
                    }
                },
                y: { 
                    title: { display: true, text: 'Score (%)' },
                    suggestedMin: 0,
                    suggestedMax: 100
                }}
        }
    });

    // Reaction Time chart
    const reactionChart = new Chart(document.getElementById('reactionChart'), {
        type: 'scatter',
        data: {
            datasets: [
                {
                    label: 'Mean - Std. Dev. (Min)',
                    data: reactionErrorBars.min,
                    pointStyle: 'line',
                    backgroundColor: 'black', 
                    borderColor: 'black', 
                    borderWidth: 2,
                    radius: 6,
                    showLine: false
                },
                {
                    label: 'Median',
                    data: reactionErrorBars.median,
                    pointStyle: 'line',
                    backgroundColor: 'black', 
                    borderColor: 'black', 
                    borderWidth: 2,
                    radius: 6,
                    showLine: false
                },
                {
                    label: 'Mean + Std. Dev. (Max)',
                    data: reactionErrorBars.max,
                    pointStyle: 'line',
                    backgroundColor: 'black', 
                    borderColor: 'black', 
                    borderWidth: 2,
                    radius: 6,
                    showLine: false
                },
                {
                    type: 'line',
                    label: 'Average Reaction Time (ms)',
                    data: chartData.reactions.average,
                    borderColor: 'rgb(54, 162, 235)',
                    tension: 0.3
                },
                {
                    type: 'scatter',
                    label: 'Correct Response, Reaction Time (ms)',
                    data: chartData.reactions.correct_points,
                    backgroundColor: 'rgba(75, 192, 75, 0.7)',
                    borderColor: 'rgba(75, 192, 75, 1)',
                    tension: 0.3
                },
                {
                    type: 'scatter',
                    label: 'Incorrect Response, Reaction Time (ms)',
                    data: chartData.reactions.incorrect_points,
                    backgroundColor: 'rgba(255, 99, 132, 0.7)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    tension: 0.3
                }
            ]
        },
        options: {
            responsive: true,
            plugins: {
                legend: { 
                    display: true,
                    labels: {
                        boxWidth: 20,
                        padding: 15,
                        // Below found at: https://stackoverflow.com/questions/52452440/remove-label-in-chart-js
                        filter: (l) => (!(["Mean - Std. Dev. (Min)", "Mean + Std. Dev. (Max)", "Median"].includes(l.text)))
                    }
                 }
            },
            scales: { 
                x: {
                    type: 'category',
                    title: {
                        display: true,
                        text: 'Assessment Date',
                    }
                },
                y: { 
                    title: { 
                        display: true, 
                        text: 'Reaction Time (ms)' 
                    }
                }
            }
        },
        plugins: [createVerticalStemPlugin(reactionStem)]
    });

    // Correct responses chart
    const correctReactionChart = new Chart(document.getElementById('correctReactionChart'), {
        type: 'scatter',
        data: {
            datasets: [
                {
                    label: 'Mean - Std. Dev. (Min)',
                    data: correctErrorBars.min,
                    pointStyle: 'line',
                    backgroundColor: 'black', 
                    borderColor: 'black', 
                    borderWidth: 2,
                    radius: 6,
                    showLine: false
                },
                {
                    label: 'Median',
                    data: correctErrorBars.median,
                    pointStyle: 'line',
                    backgroundColor: 'black', 
                    borderColor: 'black', 
                    borderWidth: 2,
                    radius: 6,
                    showLine: false
                },
                {
                    label: 'Mean + Std. Dev. (Max)',
                    data: correctErrorBars.max,
                    pointStyle: 'line',
                    backgroundColor: 'black', 
                    borderColor: 'black', 
                    borderWidth: 2,
                    radius: 6,
                    showLine: false
                },
                {
                    type: 'line',
                    label: 'Average Reaction Time (ms)',
                    data: chartData.reactions.correct_avg,
                    borderColor: 'rgb(54, 162, 235)',
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    tension: 0.3
                },
                {
                    type: 'scatter',
                    label: 'Reaction Time (ms)',
                    data: chartData.reactions.correct_points,
                    backgroundColor: 'rgba(75, 192, 75, 0.7)',
                    borderColor: 'rgba(75, 192, 75, 1)',
                    tension: 0.3
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: { 
                    display: true,
                    labels: {
                        boxWidth: 20,
                        padding: 15,
                        // Below found at: https://stackoverflow.com/questions/52452440/remove-label-in-chart-js
                        filter: (l) => (!(["Mean - Std. Dev. (Min)", "Mean + Std. Dev. (Max)", "Median"].includes(l.text)))
                    }
                 }
            },
            scales: { x: {
                    type: 'category',
                    title: {
                        display: true,
                        text: 'Assessment Date',
                    }
                },
                y: { title: { display: true, text: 'Reaction Time (ms)' }}}
        },
        plugins: [createVerticalStemPlugin(correctStem)]
    });

    // Incorrect responses chart
    const incorrectReactionChart = new Chart(document.getElementById('incorrectReactionChart'), {
        type: 'scatter',
        data: {
            datasets: [
                {
                    label: 'Mean - Std. Dev. (Min)',
                    data: incorrectErrorBars.min,
                    pointStyle: 'line',
                    backgroundColor: 'black', 
                    borderColor: 'black', 
                    borderWidth: 2,
                    radius: 6,
                    showLine: false
                },
                {
                    label: 'Median',
                    data: incorrectErrorBars.median,
                    pointStyle: 'line',
                    backgroundColor: 'black', 
                    borderColor: 'black', 
                    borderWidth: 2,
                    radius: 6,
                    showLine: false
                },
                {
                    label: 'Mean + Std. Dev. (Max)',
                    data: incorrectErrorBars.max,
                    pointStyle: 'line',
                    backgroundColor: 'black', 
                    borderColor: 'black', 
                    borderWidth: 2,
                    radius: 6,
                    showLine: false
                },
                {
                    type: 'line',
                    label: 'Average Reaction Time (ms)',
                    data: chartData.reactions.incorrect_avg,
                    borderColor: 'rgb(54, 162, 235)',
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    tension: 0.3
                },
                {
                    type: 'scatter',
                    label: 'Reaction Time (ms)',
                    data: chartData.reactions.incorrect_points,
                    backgroundColor: 'rgba(255, 99, 132, 0.7)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    tension: 0.3
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: { 
                    display: true,
                    labels: {
                        boxWidth: 20,
                        padding: 15,
                        // Below found at: https://stackoverflow.com/questions/52452440/remove-label-in-chart-js
                        filter: (l) => (!(["Mean - Std. Dev. (Min)", "Mean + Std. Dev. (Max)", "Median"].includes(l.text)))
                    }
                 }
            },
            scales: { x: {
                    type: 'category',
                    title: {
                        display: true,
                        text: 'Assessment Date',
                    }
                },
                y: { title: { display: true, text: 'Reaction Time (ms)' }}}
        },
        plugins: [createVerticalStemPlugin(incorrectStem)]
    });

    const charts = {
        score: scoreChart,
        reaction: reactionChart,
        correct: correctReactionChart,
        incorrect: incorrectReactionChart
    }

    function filterByDifficulty(difficulty){
        // if difficulty = both, then return everything without filtering
        if (difficulty === 'Both') return chartData;

        // otherwise, filter each dataset by difficulty
        const filteredScores = chartData.scores.filter(p => p.difficulty === difficulty);

        // find the datapoint with the filtered difficulty
        const filteredReactions = {}
        Object.keys(chartData.reactions).forEach(key => {
            filteredReactions[key] = chartData.reactions[key].filter(p => p.difficulty === difficulty);
        })

        return {
            scores: filteredScores,
            reactions: filteredReactions
        }
    }

    function updateAllCharts(filtered){
        // Store error bar values for each assessment date
        let reactionErrorBars = buildErrorBars(filtered.reactions.average, filtered.reactions.std);
        let correctErrorBars = buildErrorBars(filtered.reactions.correct_avg, filtered.reactions.correct_std);
        let incorrectErrorBars = buildErrorBars(filtered.reactions.incorrect_avg, filtered.reactions.incorrect_std);

        let reactionStem = buildStem(reactionErrorBars);
        let correctStem = buildStem(correctErrorBars);
        let incorrectStem = buildStem(incorrectErrorBars);

        // score chart
        charts.score.data.datasets[0].data = filtered.scores;
        charts.score.update();

        // reactionChart chart
        charts.reaction.data.datasets[0].data = reactionErrorBars.min;
        charts.reaction.data.datasets[1].data = reactionErrorBars.median;
        charts.reaction.data.datasets[2].data = reactionErrorBars.max;
        charts.reaction.data.datasets[3].data = filtered.reactions.average;
        charts.reaction.data.datasets[4].data = filtered.reactions.correct_points;
        charts.reaction.data.datasets[5].data = filtered.reactions.incorrect_points;
        charts.reaction.config.plugins = [createVerticalStemPlugin(reactionStem)];
        charts.reaction.update();

        // correct chart
        charts.correct.data.datasets[0].data = correctErrorBars.min;
        charts.correct.data.datasets[1].data = correctErrorBars.median;
        charts.correct.data.datasets[2].data = correctErrorBars.max;
        charts.correct.data.datasets[3].data = filtered.reactions.correct_avg;
        charts.correct.data.datasets[4].data = filtered.reactions.correct_points;
        charts.correct.config.plugins = [createVerticalStemPlugin(correctStem)];
        charts.correct.update();

        // incorrect chart
        charts.incorrect.data.datasets[0].data = incorrectErrorBars.min;
        charts.incorrect.data.datasets[1].data = incorrectErrorBars.median;
        charts.incorrect.data.datasets[2].data = incorrectErrorBars.max;
        charts.incorrect.data.datasets[3].data = filtered.reactions.inorrect_avg;
        charts.incorrect.data.datasets[4].data = filtered.reactions.incorrect_points;
        charts.incorrect.config.plugins = [createVerticalStemPlugin(incorrectStem)];
        charts.incorrect.update();

    }

    document.getElementById('difficultyFilter').addEventListener('change', (e) => {
        const filtered = filterByDifficulty(e.target.value);
        updateAllCharts(filtered);
    })

</script>
{% endblock %}