{% extends "base.html" %}

{% block content %}
<style>
    .assessments-container {
        max-height: 160px;
        overflow-y: auto;
    }
</style>

<div class="container mt-5 text-center">
    <div class="row align-items-stretch">
        <!-- Profile Card -->
        <div class="col-md-4">
            <div class="card shadow-sm mb-4">
                <div class="card-body text-center">
                    <h4 class="card-title mb-3">{{name}}</h4>
                    <p class="mb-1"><strong>Age: </strong>{{ age }}</p>
                    <p class="mb-1"><strong>Gender: </strong>{{ gender }}</p>
                    <p class="mb-1"><strong>Height: </strong>{{ height }} cm</p>
                    <p class="mb-1"><strong>Weight: </strong>{{ weight }} kg</p>
                    <p class="mb-1"><strong>Diagnosis: </strong>TBD</p>
                </div>
            </div>
        </div>
    
         <!-- Past Assessments Details -->
        <div class="col-md-8 d-flex flex-column">
            <h4 class="mb-3">Past Assessments</h4>
            <div class="assessments-container border rounded">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Test Type</th>
                            <th>Score</th>
                            <th>Avg Reaction Time (ms)</th>
                            <th>Difficulty</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if results %}
                            {% for r in results | reverse %}
                                <tr>
                                    <td>{{ r.date_taken.strftime("%Y-%m-%d %H:%M") }}</td>
                                    <td>Short-Term Memory Test</td>
                                    <td>{{ r.score }}/{{ r.total_rounds }}</td>
                                    <td>{{ "%.2f"|format(r.avg_reaction_time) }}</td>
                                    <td>{{ r.difficulty }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4">No past assessments found.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

     <!-- Charts -->
    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-body text-center mb-4">
                <h3 class="card-title mb-3">Assessment Charts</h3>
                <div class="d-inline-flex align-items-center gap-2 mb-4">
                    <label for="difficultyFilter" class="form-label mb-0 small">
                        Filter by Difficulty
                    </label>
                    <select id="difficultyFilter" class="form-select form-select-sm w-auto">
                        <option value="Both">Both</option>
                        <option value="Easy">Easy only</option>
                        <option value="Hard">Hard only</option>
                    </select>
                </div>
                <div class="row">
                    <!-- Memory Score Chart-->
                    <div class="col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="mb-2">Memory Scores Over Time</h5>
                                <canvas id="scoreChart" style="max-height:400px;"></canvas>
                            </div>
                        </div>
                    </div>

                 <!-- Reaction Time Chart-->
                 <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="mb-2">Reaction Times Over Time</h5>
                            <canvas id="reactionChart" style="max-height:400px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Need to convert Flask lists to JS arrays
    const scorePoints = {{ chart_scores|tojson }};
    const avgReactions = {{ chart_avg_reactions|tojson }};
    const correctReactions = {{ correct_reactions|tojson }}
    const incorrectReactions = {{ incorrect_reactions|tojson }}

    // Memory chart
    const scoreChart = new Chart(document.getElementById('scoreChart'), {
        type: 'line',
        data: {
            datasets: [{
                label: 'Memory Score(s)',
                data: scorePoints,
                borderColor: 'rgb(54, 162, 235)',
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                tension: 0.3
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: { display: false }
            },
            scales: { x: {
                    type: 'category',
                    title: {
                        display: true,
                        text: 'Assessment Date',
                    }
                },
                y: { title: { display: true, text: 'Score' }}}
        }
    });

    // Reaction Time chart
    const reactionChart = new Chart(document.getElementById('reactionChart'), {
        data: {
            datasets: [
                {
                    type: 'line',
                    label: 'Average Reaction Time (ms)',
                    data: avgReactions,
                    borderColor: 'rgb(54, 162, 235)',
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    tension: 0.3
                },
                {
                    type: 'scatter',
                    label: 'Correct Response, Reaction Time (ms)',
                    data: correctReactions,
                    backgroundColor: 'rgba(75, 192, 75, 0.7)',
                    borderColor: 'rgba(75, 192, 75, 1)',
                    tension: 0.3
                },
                {
                    type: 'scatter',
                    label: 'Incorrect Response, Reaction Time (ms)',
                    data: incorrectReactions,
                    backgroundColor: 'rgba(255, 99, 132, 0.7)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    tension: 0.3
                }
            ]
        },
        options: {
            responsive: true,
            plugins: {
                legend: { 
                    display: true,
                    positions: 'right',
                    labels: {
                        boxWidth: 20,
                        padding: 15
                    }
                 }
            },
            scales: { 
                x: {
                    type: 'category',
                    title: {
                        display: true,
                        text: 'Assessment Date',
                    }
                },
                y: { 
                    title: { 
                        display: true, 
                        text: 'Reaction Time (ms)' 
                    }
                }
            }
        }
    });

    function filterByDifficulty(difficulty){
        // if difficulty = both, then return everything without filtering
        if (difficulty === 'Both'){
            return {
                scores: scorePoints,
                avg: avgReactions,
                correct: correctReactions,
                incorrect: incorrectReactions
            }
        }

        // otherwise, filter each dataset by difficulty
        return {
            scores: scorePoints.filter(function (point) {
                // find the datapoint with the filtered difficulty
                return point.difficulty === difficulty;
            }),
            avg: avgReactions.filter(function (point) {
                return point.difficulty === difficulty;
            }),
            correct: correctReactions.filter(function (point) {
                return point.difficulty === difficulty;
            }),
            incorrect: incorrectReactions.filter(function (point) {
                return point.difficulty === difficulty;
            })
        }
    }

    document.getElementById('difficultyFilter').addEventListener('change', (e) => {
        const selected = e.target.value;
        const filtered = filterByDifficulty(selected);

        // Update reactionChart data
        reactionChart.data.datasets[0].data = filtered.avg;
        reactionChart.data.datasets[1].data = filtered.correct;
        reactionChart.data.datasets[2].data = filtered.incorrect;
        reactionChart.update();

        // Update scoreChart data
        scoreChart.data.datasets[0].data = filtered.scores;
        scoreChart.update();
    })

</script>
{% endblock %}