name: Test on Pull Request

env:
  PYTHON_VERSION: '3.14'

on:
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      REDIS_URL: ${{ secrets.REDIS_URL }}
      FLASK_ENV: testing

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: python -m pip install --upgrade pip && python -m pip install -r web/requirements.txt

      - name: Test with PyTest
        run: |
          cd web
          python -m pytest tests/