services:
  redis:
    image: redis:8.4.0
    ports:
      - "6379:6379"

  worker:
    build:
      context: .
      dockerfile: Dockerfile.celery
    environment:
      REDIS_URL: redis://redis:6379/0
      FLASK_ENV: testing
    depends_on:
      - redis
    volumes: # Mount SQLite database
      - ./instance:/usr/src/app/instance